{% extends "base.html" %}
{% load static %}


{% block title %}Area 5 | {% endblock %}


{% block content %}
<div class="container mt-3">
  <img src="{% static 'images/Area 5.jpg' %}" alt="Area 5" class="responsive-img">
  <h3>Neighborhoods in Area 5</h3>
  <p>Los Rios Area 5 consists of South Land Park, Land Park, Curtis Park, Oak Park, College Park, Hollywood Park, Lawrence Park, Tahoe Park, Colonial Heights, Med Center, Freeport Manor, Valley Hi, Parkway, Woodbine, Golf Course Terrace, City Farms, Meadowview, Greenhaven and the Pocket areas of Sacramento.</p>
</div>
{% endblock %}
