{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Damion&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script defer src="{% static 'js/solid.min.js' %}"></script>
    <script defer src="{% static 'js/brands.min.js' %}"></script>
    <script defer src="{% static 'js/fontawesome.min.js' %}"></script>
    <title>{% block title %}{% endblock %}Pam Haynes for Area 5</title>
    {% block additional_header %}{% endblock %}
  </head>

  <body>
    <div class="top-header">
      <div class="row mb-0">
        <div class="col s12 m6">
          <h3 class="cursive">Pam Haynes</h3>
          <h6>For Los Rios Board of Trustees, Area 5</h6>
        </div>
        <div class="col m6 right-align hide-on-small-and-down">
          <div class="card left-align">
            <div class="card-content thin">
              <div class="row">
                <div class="col s12">
                  <span><b>SIGN UP</b> FOR EMAIL UPDATES</span>
                </div>
              </div>
              <div class="row valign-wrapper">
                <form action="#" onsubmit="submitForm();return false;" id="email-form">
                  <div class="input-field col s5">
                    <input type="email" id="email" class="validate" name="email" style="color: white;">
                    <label for="email">Email</label>
                  </div>
                  <div class="input-field col s4">
                    <input type="text" id="zip_code" class="validate" name="zip_code" style="color: white;">
                    <label for="zip">ZIP</label>
                  </div>
                  <div class="col s3">
                    <button type="submit" class="btn dem-blue">Sign Up</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul id="newsroom-dropdown" class="dropdown-content">
      <li><a class="{% if request.path == '/speeches/' %}active{% endif %}" href="{% url 'speeches' %}">Speeches</a></li>
      <li><a class="{% if request.path == '/articles/' %}active{% endif %}" href="{% url 'articles' %}">Articles</a></li>
      <li><a class="{% if request.path == '/photo-album/' %}active{% endif %}" href="{% url 'photo-album' %}">Photo Album</a></li>
    </ul>
    <ul class="dropdown-content" id="other-dropdown">
      <li><a href="https://collegecampaign.org" target="_blank">Campaign for College Opportunity</a></li>
      <li><a href="https://collegecampaign.org/portfolio/state-higher-education-black-californians/" target="_blank">The State of Higher Education for Black Californians</a></li>
      <li><a href="https://collegecampaign.org/portfolio/state-higher-education-latinx-california/" target="_blank">The State of Higher Education for Latinx in California</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper white black-text">
        <a href="#" data-target="side-nav" class="sidenav-trigger valign-wrapper" style="color: black"><i class="fas fa-bars fa-3x"></i></a>
        <ul id="nav-mobile" class="left hide-on-small-and-down">
          <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'index' %}"><i class="fas fa-home fa-lg"></i></a></li>
          <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url 'about' %}">About Pam</a></li>
          <li class="{% if request.path == '/area-5/' %}active{% endif %}"><a href="{% url 'area-5' %}">Area 5</a></li>
          <li class="{% if request.path == '/events/' %}active{% endif %}"><a href="{% url 'events' %}">Events</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="newsroom-dropdown">News Room <i class="material-icons right">arrow_drop_down</i></a></li>
          <li class="{% if request.path == '/support-pam/' %}active{% endif %}"><a href="{% url 'support-pam' %}">Support Pam</a></li>
          <li><a href="#!" data-target="other-dropdown" class="dropdown-trigger">Other Links <i class="material-icons right">arrow_drop_down</i></a></li>
          <li class="{% if request.path == '/contribute/' %}active contribute{% endif %}"><a href="https://paypal.me/votepamhaynes2020" target="_blank" class="donate-btn">CONTRIBUTE</a></li>
        </ul>
      </div>
    </nav>
    <ul class="sidenav" id="side-nav">
      <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'index' %}"><i class="fas fa-home fa-lg"></i></a></li>
          <li class="{% if request.path == '/about/' %}active{% endif %}"><a href="{% url 'about' %}">About Pam</a></li>
          <li class="{% if request.path == '/area-5/' %}active{% endif %}"><a href="{% url 'area-5' %}">Area 5</a></li>
          <li class="{% if request.path == '/events/' %}active{% endif %}"><a href="{% url 'events' %}">Events</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="newsroom-dropdown">News Room <i class="material-icons right">arrow_drop_down</i></a></li>
          <li class="{% if request.path == '/support-pam/' %}active{% endif %}"><a href="{% url 'support-pam' %}">Support Pam</a></li>
          <li><a href="#!" data-target="other-dropdown" class="dropdown-trigger">Other Links <i class="material-icons right">arrow_drop_down</i></a></li>
          <li class="{% if request.path == '/contribute/' %}active contribute{% endif %}"><a href="https://paypal.me/votepamhaynes2020" target="_blank" class="donate-btn">CONTRIBUTE</a></li>
    </ul>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, {coverTrigger: false});
    });
    function submitForm() {
      var form = new FormData(document.getElementById('email-form'));
      fetch("/emailsignup/", {
        method: 'post',
        credentials: 'same-origin',
        body: form
      }).then(res => res.json())
      .then(response => M.toast({html: response['message']}))
      .catch(error => console.error('Error:', error));
    }
    </script>
    {% block additional_js %}{% endblock %}
  </body>
</html>
